<<<<<<< HEAD
<h3>Welcome to my LA Hacks product! Let's see what I am able to hack together in 36 hours!</h3>
<div  class='column-right'>
<%= link_to 'jjjjjjjj', root_path, class: 'btn btn-success btn-small' %>
	jdfdjfkdf
	<h5> aaaa </h5>
	<input type="text" id="first" class="form-control" aria-describedby="helpblock">
	</div>

=======
<center>
	<h3>Welcome to Modular Facebook.</h3>
	<h5>Select The Type of Notifications From Your Facebook Feed That You Would Like to View</h5>
	<br/>
</center>
<br/>

<div class='container'>
	<div class='column-center'>
		FRIENDS CURRENTLY ONLINE
		<h5>Search By Keyword</h5>
		<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
	</div>
	<div class='column-left'>MESSAGE HISTORY
		<h5>Search By Keyword</h5>
		<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
		</div>
	</div>
	<div class='column-right'>
		TODAY'S BIRTHDAYS
		<h5>Search By Keyword</h5>
		<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
	</div>
</div>




>>>>>>> cb66211ad7eaa234ff85b69d1cd1c5dd701df0ed
