<center>
	<h3>Welcome to Modular Facebook.</h3>
	<h5>Select The Type of Notifications From Your Facebook Feed That You Would Like to View</h5>
	<br/>
</center>
<br/>

<div class='container'>
	<div class='column-center'>
		FRIENDS CURRENTLY ONLINE
		<h5>Search By Keyword</h5>
		<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
	</div>
	<div class='column-left'>MESSAGE HISTORY
		<h5>Search By Keyword</h5>
		<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
		</div>
	</div>
	<div class='column-right'>
		TODAY'S BIRTHDAYS
		<h5>Search By Keyword</h5>
		<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
	</div>
</div>




