<h3>Welcome to my LA Hacks product! Let's see what I am able to hack together in 36 hours!</h3>
<div  class='column-right'>
<%= link_to 'jjjjjjjj', root_path, class: 'btn btn-success btn-small' %>
	jdfdjfkdf
	<h5> aaaa </h5>
	<input type="text" id="first" class="form-control" aria-describedby="helpblock">
	</div>

